{% extends "base.html" %}
{% load static %}
{% block title %} <title>О системе</title>{% endblock %}


{% block content %}
<main>
    <div class="container py-5">
        <h1>О системе</h1>
        <p>
            Информационная система кафедры разработана для автоматизации учета сотрудников, их рабочих мест, нагрузки и дополнительных обязанностей. Основной целью проекта является облегчение работы секретаря кафедры за счёт быстрого доступа к актуальной информации о преподавателях, распределении дисциплин и выполнении дополнительных задач.
        </p>

    </div>
</main>
{% endblock %}