{% extends "base.html" %}
{% load static %}
{% block title %} <title>Наши правила</title>{% endblock %}


{% block content %}
<main>
    <div class="container py-5">
        <h1>Правила</h1>
        <p>
            <b>Доступ к системе.</b> Использование информационной системы предоставляется только сотрудникам кафедры. Для входа необходимо использовать учётные данные, выданные секретарём кафедры.
        </p>
        <p>
            <b>Обновление информации.</b> Данные о преподавателях, дисциплинах и обязанностях должны своевременно обновляться. Ответственность за актуальность информации несёт пользователь, вносящий изменения.
        </p>
        <p>
            <b>Конфиденциальность.</b> Вся информация в системе является служебной и не подлежит передаче третьим лицам без разрешения руководства кафедры.
        </p>
        <p>
            <b>Использование системы.</b> Секретарь кафедры имеет права администратора и может редактировать все данные. Преподаватели могут просматривать свою информацию, но внесение изменений возможно только через секретаря.
        </p>
    </div>
</main>
{% endblock %}
