{% extends "base.html" %}
{% load static %}

{% block title %}
<title>{{ person.name }}</title>
{% endblock %}

{% block content %}
<main>
    <div class="container py-5">
        <article>
            <h1>{{ person.name }}</h1>
            <p>Рабочее место: {{ person.workplace }}</p>
            <p>Ставка: {{ person.load }}</p>
            <h4>Дисциплины:</h4>
            <ul>
                {% if person.disciplines.all %}
                {% for discipline in person.disciplines.all %}
                    <li> <a href="{% url 'staff:discipline_tutor' discipline.slug %}">
                            {{ discipline.name }}</a></li>
                {% endfor %}
                {% else %}
                        нет
                {% endif %}
            </ul>
            <h4>Дополнительная работа:</h4>
            {% if person.additional_work %}
                <p>{{ person.additional_work }}</p>
            {% else %}
                <p>Отсутсвует</p>
            {% endif %}
            <a href="{% url 'staff:index' %}">Назад к списку</a>
        </article>
    </div>
</main>
{% endblock %}