{% extends "base.html" %}
{% load static %}

{% block title %}
<title>{{ person.name }}</title>
{% endblock %}

{% block content %}
<main>
    <div class="container py-5">
        <article>
            <h1>{{ person.name }}</h1>
            <p>Рабочее место: {{ person.workplace }}</p>
            <p>Ставка: {{ person.load }}</p>
            <h4>Дисциплины:</h4>
            <ul>
                {% for discipline in person.disciplines %}
                    <li>{{ discipline }}</li>
                {% endfor %}
            </ul>
            <h4>Дополнительная работа:</h4>
            <ul>
                {% for task in person.tasks %}
                    <li>{{ task }}</li>
                {% endfor %}
            </ul>
            <a href="{% url 'staff:index' %}">Назад к списку</a>
        </article>
    </div>
</main>
{% endblock %}