{% extends "base.html" %}
{% load static %}
{% block title %} <title>Сотрудники</title>{% endblock %}
{% block content %}
<main>
    <div class="container py-5">
        <h1>Сотрудники</h1>
        {% for person in staff %}
            <hr>
            <article>
                <ul>
                    <li>
                        <strong>{{ person.name }}</strong>
                    </li>
                    <li>
                        Рабочее место: {{ person.workplace }}
                    </li>
                    <li>
                        Ставка: {{ person.load }}
                    </li>
                </ul>
                <a href="{% url 'staff:staff_detail' person.id %}">Подробнее</a>
            </article>
        {% endfor %}

    </div>
</main>
{% endblock %}